<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zafar.escaperush3d">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Escape Rush 3D"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EscapeRush3D">
        <activity
            android:name=".ui.activities.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EscapeRush3D.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AppLovin MAX SDK key (replace with your key) -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="YOUR_APPLOVIN_SDK_KEY" />
    </application>

</manifest>